[submodule "cpp/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "third_party/redox"]
	path = third_party/redox
	url = https://github.com/JonathanRaiman/redox.git
