[submodule "cpp/SQLiteCpp"]
	path = third_party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "third_party/redox"]
	path = third_party/redox
	url = https://github.com/JonathanRaiman/redox.git
[submodule "third_party/json11"]
	path = third_party/json11
	url = https://github.com/nivwusquorum/json11.git
	branch = feature/ADD_CMakeSupport
[submodule "third_party/mshadow"]
	path = third_party/mshadow
	url = https://github.com/dmlc/mshadow.git
